.event-h2 {
    color: #24316B;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.event-p {
    line-height: 18px;
    font-size: 10px;
    text-align: center;
}


/******************************************* Responsive for Mobile device ***************************************/


@media only screen and (max-width: 576px) {
    .event-h2 {
        color: #24316B;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }
}