@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

.contact-h1 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 45px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6D6D;
}

.contact-p {
    font-size: 25px;
    line-height: 30.48px;
}

.contact-submit-btn {
    color: white;
    background-color: #253E88;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 50px;
}

.contact-icon {
    color: #FF6D6D;
    font-size: 50px;
}



/******************************************* Responsive for Mobile device ***************************************/


@media only screen and (max-width: 576px) {
    .contact-h1 {
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 40px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: #FF6D6D;
    }

    .contact-p {
        font-size: 20px;
        line-height: 30.48px;
        text-align: left;
    }
}