.about-p {
    font-size: 25px;
    line-height: 30.48px;
    text-align: left;
}

.about-span {
    font-size: 27px;
    font-weight: 700;
}

.about-h2 {
    color: #24316B;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}