.navbar p {
    font-size: 15px;
    font-weight: 700;
}

.nav-btn-style {
    background-color: #24316B;
    color: white;
    border-radius: 10px;
}

.nav-icon {
    font-size: 19px;
}


/******************************************* Responsive for Mobile device ***************************************/


@media only screen and (max-width: 576px) {
    .nav-reg-responsive {
        display: none;
    }
}