.mission-bg {
    background-image: url(/src//assets/logos/frame-2.svg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
    height: 650px;
    width: 100%;
    position: absolute;
}

.miss {
    /* background-color: black; */
}

.mission-h1 {
    font-size: 68px;
    font-weight: 700;
    line-height: 1.1;
}

.mission-h2 {
    color: #24316B;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.mission-p {
    font-size: 25px;
    line-height: 31px;
    text-align: left;
}