.mission-h1 {
    font-size: 68px;
    font-weight: 700;
    line-height: 1.1;
}

.mission-h2 {
    color: #24316B;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.mission-sec-h2 {
    color: #253E88;
    font-size: 55px;
    font-weight: 700;
}

.mission-h2 {
    color: #24316B;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.mission-p {
    font-size: 25px;
    line-height: 31px;
    text-align: left;
}

.mission-bg-img {
    background-color: darkslateblue;
}

.mission-btn {
    color: white;
    background-color: #24316B;
    font-size: 25px;
    font-weight: 700;
    padding: 12px 28px;
    border-radius: 10px;
}